* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center; 
  flex-direction: column; 
  min-height: 100vh; 
}

.countdown-row {
  text-align: center;
  color: #ccc;
  margin-bottom: 20px; 
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); 
}

h1 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 5;
  color: #f5f3f3;
  letter-spacing: 5px;
  text-transform: uppercase;

}

.timeleft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.timer-section .time {
  background-color: #808080	1;
  color: #E7E7E7; 
  padding: 20px;
  border-radius: 10px;
  font-size: 70px; 
  font-weight: 10; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.timer-section span {
  margin-top: 10px;
  font-size: 16px; 
  color: #dfa066	; 
  letter-spacing: 1px;
  text-transform: uppercase;
}

.separator {
  font-size: 40px;
  color: #ffffff; 
  padding: 0 5px;
  margin-top: -25px;
}